@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap");

@font-face {
  font-family: 'Italiana';
  src: url('./Italiana-Regular.ttf') format('truetype');
}
:root {
  --cream: #e1e1ca;
  --olive: #999a4e;
  --font-main: "Afacad", sans-serif;
}

body {
  margin: 0;
  background: var(--cream);
  color: var(--olive);
  font-family: var(--font-main);
  font-weight: 600;
}

.header {
  display: flex;
  align-items: center;
  padding: 0rem 3.5rem 0rem 2rem;
  height: 3.5rem;
  background: var(--olive);
  color: var(--cream);
}

.nav {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 3.5rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
}

.logo-icon {
  width: 32px;
  height: 41px;
}

.nav-links {
  display: flex;
  gap: 1.75rem;
}

.nav-links a:hover {
  text-decoration: underline;
}

.nav-icons {
  width: 1.5rem;
  height: 1.5rem;
}

.socials {
  display: flex;
  gap: 1.5rem;
  margin-left: auto;
}

.socials a {
  display: flex;
}

.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-size: 46px;
  color: black;
  font-family: "Italiana", sans-serif;
  font-weight: 400;
}

.images-align{
  display: flex;
  flex-direction: row;
  margin: 60px 60px 60px 60px;
  justify-content: space-between;
 
}

.card{
display: flex;
flex-direction: column;
align-items: center;
}

.card img{
  border-radius: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: transform 0.4s ease-in-out;
}

.card p{
  font-weight: 400;
  font-size: 24px;
  color: #3C4618;
}

.card img:hover{
  transform: scale(1.05);
  
  }



.decorative-flower{
  margin-left:50%;
  transform: translateX(-50%);
  height:174.97px;
  width:116.65px;
  margin-top:60px;
  margin-bottom:60px;
}

.place-your-order{
  text-align:center;
  font-size: 32px;
  font-weight: 300;
  color: #3C4618;
}

.price-range{
  text-align:left;
  font-size: 24px;
  font-weight:100;
  margin-top: 10px;
  margin-left:60px;
  color: #3C4618;
}



.flex-container{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  margin-left:60px;
  margin-right:60px;
  margin-top:20px;
  margin-bottom:20px;
}

.price-card{
  border-radius: 16px;
  border: 2px solid #3C4618;
  padding: 10px;
  width: 400px;
  
  
  }

  .price-card:hover{
    background-color: #3C4618;
    .price-range-container{
      color: #e1e1ca; }
    }


  .price-range-container{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    margin-left:20px;
    color: #3C4618;
    font-size: 24px;
    text-align:center;
  }

  
